/*  your css code here. If applicable */
.Text{
	    font-size: 20px;
	text-align : center;
	  margin:25px 50px 75px;
	    
}
.Container{
	display: flex;
}
.Button{
	background:red;
	padding:10px;
	color: white;
	font-size: 10px;
    border-radius: 7px;
}